/* This file is for your main application css. */

@import "./phoenix.css";

.buttons {
    text-align: center;
}

.videos {
    position: relative;
    text-align: center;
}

video {
    border-radius: 4px;
}

#remoteVideo {
    max-width: 100%;
    max-height: 100%;
}

#localVideo {
    position: absolute;
    right: 4px;
    bottom: 8px;
    max-width: 20%;
    max-height: 20%;
    border: 1px solid black;
}

#previewVideo {
    max-width: 60%;
    opacity: 0.7;
}