<form phx-submit="sign_in">
    <label>Name:<input type="text" name="name"/></label>
    <label><input type="radio" name="gender" value="male" checked/>&nbsp;Male</label>
    <label><input type="radio" name="gender" value="female"/>&nbsp;Female</label>
    <div class="buttons"><input type="submit" value="Join"/></div>
</form>