<h2>Waiting for an opponent&hellip;</h2>
<div class="videos">
    <video id="previewVideo" muted autoplay playsinline/></video>
</div>
<div class="buttons"><input type="button" phx-click="disconnect" value="Disconnect"/></div>
<small>
    <li>Your name: <%= @name %></li>
    <li>Your gender: <%= @gender %></li>
</small>
