<h2>Waiting for an opponent&hellip;</h2>
<ul>
    <li>Your name: <%= @name %></li>
    <li>Your gender: <%= @gender %></li>
</ul>
<div class="buttons"><input type="button" phx-click="disconnect" value="Disconnect"/></div>

